@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.about {
    padding-top: 8rem;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    @include m.desktop {
        flex-direction: row;
        padding-top: 15rem;
        align-items: center;
    }
    &__contenido {
        flex: 2;
    }
    &__h5 {
        text-align: left;
        margin: 0;
    }
    &__heading {
        margin-bottom: 5rem;
        @include m.tablet{
            margin-bottom: 10rem;
        }
    }
    &__info {
        position: relative;
        @include m.desktop {
            padding-left: 13rem;
        }
    }
    &__texto {
        display: flex;
        max-width: 55rem;
        margin-bottom: 5rem;
        max-width: 45rem;
        @include m.tablet {
            margin-bottom: 9rem;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 10rem;
            height: 2px;
            background-color: v.$bodyColor;
            display: none;
            transform: translateY(10px);
    
            @include m.desktop {
                display: inline-block;
            }
        }
        
    }
    &__enlace {
        @include m.boton;
        display: inline-block;
        padding-block: 2.5rem;
    }
    &__grafico {
        flex: 1;
        position: relative;
        padding: 2rem 2rem 0 0;
        transition: all .2s ease;
        max-width: 42rem;
        margin: 0 auto;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-color: v.$colorPrimary;
            height: 75%;
            width: 90%;
            z-index: -10;
            display: inline-block;
        }
        &:hover {
            transform: scale(1.05) rotate(5deg);

        }
    }

}
