@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.educacion {
    @include m.espaciado;
    background-color: v.$bgColor;
    padding-bottom: 8rem;
    margin-top: 8rem;
    @include m.tablet {
        margin-top: 13rem;
        padding-bottom: 13rem;
    }
    &__h5 {
        text-align: center;
    }
    &__heading {
        text-align: center;
        max-width: 75rem;
        margin: 0 auto 10rem auto;
    }
    &__grid {
        @include m.grid(1, 5rem);

        @include m.desktop {
            @include m.grid(2, 5rem);
        }
    }   
    &__date {
        border: 1px solid v.$colorPrimary;
        color: v.$colorPrimary;
        padding: 1.5rem 2.5rem;
        display: inline-block;
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }
    &__seccion-heading {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: unset;
    }
}

.skills {
    padding-top: 13rem;
    @include m.grid(1, 5rem);

    @include m.desktop {
        @include m.grid(2, 5rem);
    }
}
.skill {
    padding: 1rem 3rem 1.5rem 3rem;
    background-color: v.$headerColor;
    opacity: 1;
    position: relative;

    &__nombre {
        color: v.$blanco;
        margin-top: .6rem;
    }
    &__progress {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: .6rem;
        background-color: #55e6a5;
        width: 0%;
        transition: width 1s;
        transition-delay: .3s;
    }
}
