@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.header {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    background-color: v.$headerColor;
    width: 100%;
    @include m.tablet {
        width: 82.5%;
        padding: 1rem;
    }
    @include m.desktop {
        width: 95%;
        padding: unset;
    }
    &__contenido {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        @include m.tablet {
            width: 100%;
            padding: unset;
        }
    }
    &__logo-content {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    &__logo {
        width: 4.4rem;
        height: 4.4rem;
        background-color: v.$colorPrimary;
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.desktop {
            width: 8rem;
            height: 8rem;
        }
    }
    &__img {
        width: 2.6rem;
        @include m.desktop {
            width: 5rem;
        }
    }

    &__hamburger {
        width: 4.4rem;
        height: 4.4rem;
        background-color: v.$colorPrimary;
        @include m.desktop {
            width: 8rem;
            height: 8rem;
        } 
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    &__hamburgerImg {
        width: 10rem;
    }

}
.navegacion {
    display: none;
    gap: 2.5rem;
    &__enlace {
        text-transform: uppercase;
        font-weight: 600;
        transition: color .4s ease;
        letter-spacing: 1.3px;
        position: relative;
        padding: 1rem;
        &::before,
        &::after {
            content: '';
            background-color: v.$colorPrimary;
            position: absolute;
            width: 0%;
            height: 50%;
            display: block;
            z-index: -1;
            transition: all .6s;
        }

        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            top: 50%;
            right: 0;
        }

        &:hover {
            color: v.$headerColor;
            transition: all .6s;
            font-weight: 700;
            &::before,
            &::after {
                width: 100%;
            }
        }
    }
    
    @include m.desktop {
        display: flex;
    }
}

