@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.hero {
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 11rem 0 13rem 0;
    @include m.tablet {
        padding: 15rem 0 13rem 0;
        height: unset;
    }
    @include m.desktop {
        height: 100vh;
        padding: 12rem 0 13rem 0;
        display: flex;
        align-items: center;
    }
    &__contenedor {
        display: flex;
        align-items: center;
        gap: 4rem;
        @include m.desktop {
            margin-top: 10rem;
        }
    }
    &__contenido {
        flex: 1.2;
    }
    &__heading {
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
    &__heading-span {
        color: v.$colorPrimary;
    }
    &__descripcion {
        margin-bottom: 8rem;
        line-height: 1.7;
    }
    &__boton {
        @include m.boton;
        font-family: v.$fuentePrincipal;
    }
    &__banner {
        flex: 1;
        justify-content: end;
        display: none;
        position: relative;
        max-width: 52rem;
        padding: 4rem;
        @include m.desktop {
            display: flex;
        }
        &::after {
            content: '';
            position: absolute;
            background-image: url(../assets/marco-banner.png);
            background-size: contain;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
            background-position: center top;
            background-repeat: no-repeat;
        }
    }
}
