@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.innovacion {
    padding-top: 8rem;
    @include m.tablet {
        padding-top: 13rem;
    }
    @include m.desktop {
        @include m.grid(2, 2rem);
    }
    &__contenido {
        margin-bottom: 2rem;
        @include m.desktop {
            margin-bottom: unset;
        }
    }
    &__heading {
        width: fit-content;
        font-size: 3rem;
        @include m.tablet {
            font-size: 5.5rem;
        }
    }
    &__heading-span {
        width: fit-content;

        font-size: 8rem;

        @include m.tablet {
            font-size: 12rem;
        }
    }
    &__texto {
        margin-block: 3rem;
    }
    &__estadistics {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.tablet {
            flex-direction: row;
        }
    }
    &__estadistic {
        flex: 1;
        text-align: center;
        background-color: v.$bgColor;
        padding: 4rem;
    }
    &__logo {
        width: 12rem;
        margin-bottom: 2rem;
    }
    &__number {
        font-weight: 900;
        font-size: 4rem;
    }
    &__estadistic-text {
        font-weight: 500;
        color: v.$blanco;
    }

}

.formulario {
    background-color: v.$bgColor;
    padding: 2.5rem;
    scroll-margin-top: 8rem;
    @include m.tablet {
        padding: 5rem;
    }
    &__heading {
        font-weight: 400;
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0;
        @include m.tablet {
            font-size: 4.5rem;
        }
    }
    &__texto {
        margin-block: 3rem;
    }
    &__campo {
        margin-bottom: 3rem;
    }
    &__input {
        display: block;
        width: 100%;
        padding: 2.8rem;
        color: v.$blanco;
        background-color: v.$bgColor;
        border: 1px solid v.$colorPrimary;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: v.$bodyColor;
        }
        &--alert {
            border-color: red;
        }
    }
    &__textArea {
        display: block;
        width: 100%;
        resize: none;
        padding: 2.8rem;
        background-color: transparent;
        border: 1px solid v.$colorPrimary;
        height: 20rem;
        color: v.$blanco;
        &:focus {
            outline: none;
        }
        margin-bottom: 3.5rem;
        &::placeholder {
            color: v.$bodyColor;
        }
    }
    &__submit {
        @include m.boton;
        border: none;
        cursor: pointer;
    }
}

.formulario-sidebar {
    padding-inline: 0;

    &__heading {
        font-size: 2.3rem;
        font-weight: 500;
        margin-bottom: 3rem;
    }
}

.alerta {
    font-size: 1.4rem;
    // font-weight: 700;
    color: rgb(254, 47, 47);
    margin-top: .5rem;
}