@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.proyectos {
    @include m.espaciado;
    &__heading {
        max-width: 83rem;
    }
    &__grid {
        margin-top: 8rem;
        padding-inline: 2rem;
        @include m.grid(1, 2rem);
        @include m.tablet {
            padding-inline: 0;
            @include m.grid(2, 2rem);
        }
        @include m.desktop {
            @include m.grid(2, 2rem);
            padding-inline: 8.1rem;
            // padding-inline: 20rem;
        }
    }
}
.proyecto {
    background-color: v.$bgColor;
    overflow: hidden;
    text-align: center;

    &__img {
        min-height: 20rem;
        object-fit: cover;
        transition: all 1s cubic-bezier(0,0,.2,1);
    } 

    &__info {
        padding: 2rem;
    }

    &__heading {
        margin-bottom: 2rem;
        // text-transform: uppercase;
        // color: v.$colorPrimary;
        font-size: 2.5rem;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__tag {
        margin: 0;
        background-color: #141c27;
        border-radius: 10rem;
        padding: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        position: relative;
        z-index: 10;
        i {
            font-size: 3rem;
            // color: v.$colorPrimary;
            color: v.$bodyColor;
        }
    }
}
