@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.servicios {
    @include m.espaciado;
    justify-content: center;
    text-align: center;
    &__heading {
        max-width: 75rem;
        margin: 0 auto;
    }
    &__grid {
        margin-top: 13rem;
        @include m.grid(1, 8rem);
        // @include m.tablet {
        //     @include m.grid(4, 4rem);
        // }
        @include m.desktop {
            @include m.grid(3, 5rem);
        }
    }

}
.servicio {
    border: 3px solid transparentize(v.$bodyColor, .9);
    padding: 3rem;
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }

    &__logo {
        position: relative;
        width: 9rem;
        margin-top: -8.2rem;
        margin-bottom: 3rem;
        z-index: 10;
    }
    &__heading {
        text-transform: uppercase;
    }
    &__texto {
        line-height: 1.7;
    }

}