@use 'variables' as v; 
@use 'mixins' as m; 

/* Globales
----------------------------------------------------------*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuentePrincipal;
    background-color: v.$bgBody;
    font-size: 1.6rem;
    overflow-x: hidden;
    color: v.$blanco;
}
/* Ocultar la barra de desplazamiento */
::-webkit-scrollbar {
    width: 0.5em;
    width: 0;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

[class$="contenedor"],
.contenedor {
    width: 90%;
    max-width: 130rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}
ul {
    padding:0;
    list-style: none;
    margin: 0;
}
.seccion {
    padding: 8rem 0;
}