@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin escritorio {
    @media (min-width: v.$escritorio) {
        @content;
    }
}


@mixin boton() {
    background-color: v.$colorPrimary;
    color: v.$negro;
    padding: 2rem 4rem;
    font-weight: 500;
    font-size: 1.6rem;
    transition: all .3s ease-out;

    &:hover {
        color: v.$blanco;
        background-color: v.$headerColor;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin espaciado() {
    padding-top: 8rem;
    @include tablet {
        padding-top: 13rem;
    }
}   